.AuthContainer {
    width: 20vw;
    text-align: center;
}

.PageContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentContainer {
    height: 50vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    button {
        width: 100px;
    }
}